@{
    ViewBag.Title = "Index";
}

<h3>We suggest the following:</h3>
<ol>
    <li>
        <h5>NotNull</h5>
        @Html.ActionLink("Demo","NotNull","JFluentValidation")
    </li>
    <li>
        <h5>NotNullWithCondition</h5>
       @Html.ActionLink("Demo","NotNullWithCondition","JFluentValidation")
    </li>
    <li>
        <h5>IsDate</h5>
        @Html.ActionLink("Demo","IsDate","JFluentValidation")
    </li>
    
    <li>
        <h5>IsPastDate</h5>
        @Html.ActionLink("Demo","IsPastDate","JFluentValidation")
    </li>
    <li>
        <h5>NotEqual</h5>
        @Html.ActionLink("Demo","NotEqual","JFluentValidation")
    </li>
    
    <li>
        <h5>NotEqualWithCondition</h5>
        @Html.ActionLink("Demo", "NotEqualWithCondition", "JFluentValidation")
    </li>

</ol>
