@model JFluentValidation.Models.AuthenticationModel
<h2>
    NotNullWithCondition</h2>
@using (this.Html.BeginForm("NotNullWithCondition", "JFluentValidation", FormMethod.Post))
{
    <div id="validationSummary">
        @this.Html.ValidationSummary("Please fix the following problems:")
    </div>
    <div>
        <label>
            Required?</label>
        @Html.CheckBox("isRequire")
    </div>
    <div>
        <label>
            User Name:</label>@Html.TextBoxFor(a => a.UserName)
    </div>
    <div>
        <label>
            Password:</label>
        @Html.TextBoxFor(a => a.Password)
    </div>
    <div>
        <input type="button" name="submit" id="submit" value="submit" />
    </div>
    <script language="javascript" type="text/javascript">
        $('document').ready(function () {
            $('#UserName').NotNullWithCondition("Please Input User Name", $('[name="isRequire"]'), "click", function () {
                var bl = $('[name="isRequire"]').is(':checked');
                return bl;
            });
            $('#Password').NotNullWithCondition("Please Input Password", $('[name="isRequire"]'), "click", function () {
                var bl = $('[name="isRequire"]').is(':checked');
                return bl;
            });

        });
        $('#submit').click(function () {
            if ($('form').valid()) {
                alert("Form is validated successfully");
                window.location = '@(Url.Action("Index", "Home"))';
            }
        });
    </script>
}
